
@include sm {
    .advantages {
        width: 100%;
        margin: 0 auto;
        padding-top: 75px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantages__title {
        margin-bottom: 70px;
        margin-right: 50px;
    }

    .advantages__item {
        width: 390px;
        height: 444px;
        box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.12);
        border-radius: 2px;
        text-align: center;
        background: white;
        margin-bottom: 18px;
        display: flex;
        flex-direction: column;
    }

    .advantages__wrapper {
        width: 310px;
        margin: 0 auto;
    }

    .advantages__img {
        width: 70px;
        height: 70px;
        margin: 50px auto 30px;
    }

    .advantages__text {
        line-height: 25px;
        margin-top: 25px;
        letter-spacing: 0.5px;
    }
}