.header {
    background: $yellow;
}

@include sm {
    .header__panel {
        padding-top: 22px;
        padding-left: 15px;
        padding-right: 75px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__logo {
        width: 150px;
        height: 43px;
    }

    .header__link {
        width: 64px;
        height: 26px;
        font-size: 13px;
        font-weight: 500;
        line-height: 26px;   
        margin-left: 35px;     
    }

    .header__hamburger {
        background: none;
        border: none;
        padding: 0;
    }

    .header__descript {
        width: 310px;
        margin-top: 120px;
        margin-left: 10%;
        margin-right: 16%;
        padding-bottom: 360px;
        box-sizing: border-box;
        position: relative;

        &::before {
            content: "";
            width: 326px;
            height: 277px;
            position: absolute;
            background: url(../img/macbook.png) no-repeat;
            background-size: contain;
            bottom: 0;
            left: 0;
            
        }

        &::after {
            content: "";
            width: 158px;
            height: 242px;
            position: absolute;
            background: url(../img/iphone.png) no-repeat;
            background-size: contain;
            bottom: 0;
            left: -40px;
        }
    }

    .header__title {
        margin-bottom: 30px;
    }

    .header__text {
        font-size: 18px;
        line-height: 34px;
    }

    .header__join-btn {
        margin-top: 40px;
    }
}

