.header {
    background: $yellow;
}

@include lg-only {
    .header {
        padding-bottom: 500px;
        box-sizing: border-box;
        position: relative;

        &::before {
            content: "";
            width: 480px;
            height: 470px;
            position: absolute;
            background: url(../img/plane.png) no-repeat;
            background-size: contain;
            bottom: -140px;
            left: 110px;
            z-index: 10;
        }

        &::after {
            content: "";
            width: 270px;
            height: 400px;
            position: absolute;
            background: url(../img/globus.png) no-repeat;
            background-size: contain;
            top: 60px;
            right: -10px;
            z-index: 10;
        }
    }

    .header__panel {
        padding-top: 50px;
        padding-left: 405px;
        padding-right: 440px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__wrapper {
        width: 560px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__link {
        width: 93px;
        height: 38px;
        line-height: 38px;    
        border-radius: 30px;    
    }

    .header__descript {
        width: 500px;
        margin-top: 245px;
        margin-left: 400px;
        box-sizing: border-box;
        position: relative;

        &::before {
            content: "";
            width: 770px;
            height: 660px;
            position: absolute;
            background: url(../img/macbook.png) no-repeat;
            background-size: contain;
            bottom: -300px;
            right: -800px;
            z-index: 5;
            
        }

        &::after {
            content: "";
            width: 260px;
            height: 470px;
            position: absolute;
            background: url(../img/iphone.png) no-repeat;
            background-size: contain;
            bottom: -230px;
            right: -240px;
            z-index: 10;
        }
    }

    .header__title {
        margin-bottom: 35px;
    }

    .header__text {
        font-size: 18px;
        line-height: 34px;
    }

    .header__join-btn {
        margin-top: 80px;
    }
}

