@include lg-only {
    .language {
        position: relative;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 14px;

        &::before {
            content: "";
            width: 22px;
            height: 13px;
            position: absolute;
            background: url(../img/flag.jpg) no-repeat;
            background-size: contain;
            left: -30px;
            top: 3px;
        }
    }
}