@include lg-only {
    .member {
        background: $yellow;
        margin-top: 120px;
        padding-top: 170px;
        padding-left: 13px;
        padding-right: 21px;
        padding-bottom: 170px;
        box-sizing: border-box;
    }

    .member__wrapper {
        width: 620px;
        margin: 0 auto;
        text-align: center;
    }

    .member__text {
        font-size: 18px;
        line-height: 30px;
        margin-top: 25px;
    }

    .member__become {
        width: 480px;
        margin: 45px auto 0;
        display: flex;
    }

    .member__input {
        width: calc(480px - 155px);
        height: 64px;
        background: white;
        font-size: 15px;
        padding-left: 20px;
        outline: none;
        box-sizing: border-box;
        border: 1px solid $cyan-border;
        color: $cyan;
        font-family: "Poppins";
        

        &::placeholder {
            color: $cyan;
        }
    }

    .member__button {
        width: 155px;
        color: white;
        font-family: "Poppins";
        font-size: 15px;
        font-weight: 500;
        margin: 0;
        padding: 0;
        background: $cyan;
        border: 1px solid $cyan-border;
    }
    
    

}
