
.social__list {
    width: 90px;
    @include undone-list;
    display: flex;
    justify-content: space-between;
}

.social__facebook {
    width: 24px;
    height: 24px;
    display: inline-block;
    background:url(../img/facbook.png) no-repeat;
    background-size: contain;
}

.social__twitter {
    width: 24px;
    height: 24px;
    display: inline-block;
    background:url(../img/twitter.png) no-repeat;
    background-size: contain;
}

.social__db {
    width: 24px;
    height: 24px;
    display: inline-block;
    background:url(../img/db.png) no-repeat;
    background-size: contain;
}
