@include lg-only {
    .technology {
        margin-top: 100px;
        padding-top: 100px;
        padding-bottom: 750px;
        box-sizing: border-box;
        position: relative;
    }

    .technology__wrapper {
        width: 410px;
        margin-left: 400px;
        margin-top: 180px;
    }

    .technology__text {
        font-size: 18px;
        line-height: 34px;
        margin-top: 25px;
    }

    .technology__illustration {
        width: 850px;
        height: 850px;
        position: absolute;
        background: url(../img/lines.png) no-repeat;
        background-position: center;
        background-size: contain;
        top: 260px;
        left: 530px;

        &::before {
            content: "";
            width: 880px;
            height: 890px;
            position: absolute;
            background: url(../img/categories.png) no-repeat;
            background-position: center;
            background-size: contain;
            top: -40px;
            left: -40px;
            z-index: 100;
        }

        &::after {
            content: "";
            width: 620px;
            height: 520px;
            position: absolute;
            background: url(../img/illustration.png) no-repeat;
            background-position: center;
            background-size: contain;
            top: 150px;
            left: 130px;
            z-index: 10;
        }
    }
}