.bottom-menu {
    width: calc(120px + 380px + 90px);
    display: flex;
    justify-content: space-between;
}

.bottom-menu__title {
    font-family: "Lato";
    font-size: 18px;
    margin-bottom: 10px;
}

.bottom-menu__list {
    @include undone-list;
    font-family: "Lato";
    font-weight: 400;
}

.bottom-menu__link {
    text-decoration: none;
    color: black;   
    line-height: 39px;     
}

@include sm {
    .bottom-menu {
        width: auto;
        max-width: 380px;
        display: flex;
        justify-content: space-between;        
    }

    .bottom-menu__title {
        font-family: "Lato";
        font-size: 18px;
        margin-bottom: 10px;
    }

    .bottom-menu__list {
        @include undone-list;
        font-family: "Lato";
        font-weight: 400;
    }

    .bottom-menu__link {
        text-decoration: none;
        color: black;
        font-size: 16px;
        line-height: 39px;
    }
}



