.main__advantages {
    padding-top: 250px;
    padding-bottom: 260px;
    box-sizing: border-box;
}

.main__about-us {
    padding-top: 270px;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.main__technology {    
    margin: 320px auto 220px;
}

@include sm {
    .main__advantages {    
        padding: 0;    
        padding-top: 75px;
        box-sizing: border-box;
        margin: 0 14px;
        
    }

    .main__about-us {
        padding: 0;
        margin-top: 70px;        
        padding-bottom: 10px;
        padding-left: 34px;
        padding-right: 34px;
        box-sizing: border-box;
    }

    .main__technology {
        margin: 0;
        margin-top: 80px;
        box-sizing: border-box;
        padding: 0;       
    }

    .main__member {
        margin-top: 120px;
    }
}